<%= form_for @user, html: {multipart: true} do |f| %>
  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this formula from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :roles, 'Roles', class: "control-label" %>
    <div class="controls">
      <%= f.fields_for :users_roles do |nested_f| %>
        <div class="row">
          <%= nested_f.hidden_field :role_id %>
          <div class="col-sm-1 checkbox">
            <%= nested_f.check_box :_destroy, {class: "form-control", checked: nested_f.object.persisted?}, "0", "1" %>
          </div>
          <div class="col-sm-4">
            <%= nested_f.label :_destroy, nested_f.object.role.name, class: "checkbox" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
