<p>
  <strong>Code:</strong>
  <%= @formula.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @formula.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @formula.state %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @formula.comments %>
</p>

<p>
  <strong>Sales to date:</strong>
  <%= @formula.sales_to_date %>
</p>

<p>
  <strong>Reviewed by:</strong>
  <%= @formula.reviewed_by %>
</p>

<p>
  <strong>Assets:</strong>
  <% @formula.formulas_assets.each do |formulas_asset| %>
    <%= link_to formulas_asset.asset.original_filename, formulas_asset.asset.url %> |
  <% end %>
</p>

<table class="table table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>Progress Step</th>
      <th>Completed</th>
      <th>Completed On</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
  <% @formula.formulas_progress_steps.each do |formulas_progress_step| %>
    <tr>
      <td><%= formulas_progress_step.progress_step.description %></td>
      <td><%= formulas_progress_step.completed %></td>
      <td><%= formulas_progress_step.completed_on %></td>
      <td><%= formulas_progress_step.comments %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_formula_path(@formula), class: 'btn btn-default' %>
<%= link_to 'Back', formulas_path, class: 'btn btn-default' %>
