<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @formula.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @formula.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @formula.state %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @formula.comments %>
</p>

<p>
  <strong>Sales to date:</strong>
  <%= @formula.sales_to_date %>
</p>

<p>
  <strong>Reviewed by:</strong>
  <%= @formula.reviewed_by %>
</p>

<%= link_to 'Edit', edit_formula_path(@formula) %> |
<%= link_to 'Back', formulas_path %>
